/*general styles*/
*{
    box-sizing: border-box;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

/*common styles*/

body{
    margin: 0;
    font-family: "OpenSans";
}

.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

h1, h2, h3{
    font-weight: bold;
}

a{
    text-decoration: none;
}

h2{
    font-size: 20px;
    margin: 15px 0 35px;
}

h3{
    font-size: 14px;
    margin: 0;
}

p{
    font-size: 15px;
    line-height: 1.6;
}

/*header styles*/

.header {
    padding-top: 35px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-img{
    width: 180px;
}

.menu{
    display: flex;
    align-items: center;
}

.menu-list{
    display: flex;
    margin: 0;
}

.menu-list__item+.menu-list__item{
    margin-left: 35px;
}

.menu-list__link{
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    position: relative;
}

.menu-list__link::before{
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: #fff;
    transition: all .5s ease;
}

.menu-list__link:hover::before{
    width: 100%;
}

/*main styles*/

/*---hamburger---*/

.menu-burger__header{
    display: none;
}

.menu-toggle{
    position: absolute;
    top: 80px;
    right: 0;
    background-color: #333;
    max-height: 0;
    overflow: hidden;
    transition: 1s ease max-height
}

.menu-toggle-list__item{
    text-transform: uppercase;
    padding: 5px;
}

.menu-toggle-list__link{
    color: #fff;
}

/*--------*/

/*intro styles*/

.intro {
    padding-top: 89px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: #000;
    background-image: url("../images/banner-bg.jpg");
    padding-bottom: 140px;
}

.intro::after {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5
}

.intro-content {
    position: relative;
    z-index: 2;
    margin-top: 140px;
}

.intro-title{
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 45px;
    line-height: 1.6em;
    text-transform: uppercase;
}

/*--------*/

/*trends styles*/

.trends-title, .our-items-title{
    text-align: center;
    position: relative;
    margin: 60px 0 45px;
    text-transform: uppercase;
}

.trends-title::after, .our-items-title::after{
    content:"";
    width: 65px;
    height: 3px;
    display: block;
    margin: 5px auto 0;
    background-color: #b59f5b;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.trend{
    width: calc(25% - 4px);
    position: relative;
    margin-right: 4px;
    /*margin-bottom: 4px;*/
    background-color: #000;
    display: flex;
    align-items: flex-end;
    padding: 15px 22px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 370px;
}

.trend:last-child{
    margin-right: 0;
}
 
.trend-garden{
    background-image: url("../images/trend1.jpg");
}

.trend-cheese{
    background-image: url("../images/trend2.jpg");
}

.trend-mountains{
    background-image: url("../images/trend3.jpg");
}

.trend-lemons{
    background-image: url("../images/trend4.jpg");
}

.trend::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.5
}

.trend-content{
    position: relative;
    z-index: 2;
    border: 3px solid #b59f5b;
    box-sizing: border-box;
    padding: 32px 35px;
    width: 100%;
}

.trend-link{
    color: #fff;
}

.trend-link:hover{
    color: #999;
    transition: all .5s ease;
}

.trend-title{
    margin-bottom: 0;
}

/*----------*/

/*main styles*/

.main{
    display: flex;
    justify-content: space-between;
    margin-top: 65px;
    margin-bottom: 65px;
}

.main-content{
    max-width: 780px;
}

.article{
    display: flex;
}

.article+.article{
    margin-top: 65px;
}

.article-picture{
    margin-right: 30px;
    flex-shrink: 0;
}

.article-picture-img{
    max-width: 380px;
}

.article-themes, .trend-themes{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

.article-themes__item, .trend-themes__item{
    margin-right: 20px;
}

.article-themes__item:last-child, .trend-themes__item:last-child{
    margin-right: 0;
}

.trend-title{
    margin-top: 13px;
    text-transform: uppercase;
}

.article-themes__link, .trend-themes__link{
    text-transform: uppercase;
    color: #b59f5b;
    font-weight: bold;
    font-size: 14px;
    position: relative;
}

.article-themes__link::before, .trend-themes__link::before{
    content:"";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: #b59f5b;
    transition: all .5s ease;
}

.article-themes__link:hover::before, .trend-themes__link:hover::before{
    width: 100%;
}

.article-content__title{
    text-transform: uppercase;
}

.article-content-link{
    color: #000;
    font-weight: bold;
}

.article-content-link:hover, .post-title-link:hover, .themes-link:hover{
    color: #757575;
    transition: all .5s ease;
}

.published{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 55px;
}

.data{
    margin-right: 13px;
    font-size: 12px;
    color: #999;
}

.author{
    font-weight: bold;
    font-size: 12px;
}

/*---------*/

/*aside styles*/

.aside{
    width: 272px;
    flex-shrink: 0;
    margin-left: 35px;
}

.section{
    margin-bottom: 60px;
}

.section:last-child{
    margin-bottom: 0;
}

.section-header{
    text-align: center;
    position: relative;
    margin-bottom: 45px;
    text-transform: uppercase;
}

.section-header::before{
    content:"";
    position: absolute;
    width: 65px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -13px;
    background-color: #b59f5b;
}

.new-posts{
    margin-top: 0;
}

.post{
    display: flex;
}

.post+.post{
    margin-top: 23px;
}

.post-image{
    margin-right: 20px;
    flex-shrink: 0;
}

.post-image img{
    width: 70px;
}

.post-data{
    font-size: 12px;
    color: #999;
    margin-bottom: 7px;
}

.post-title{
    line-height: 1.125;
    text-transform: uppercase;
}

.post-title-link{
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

/*forms style*/

.form-search{
    display: flex;
    margin-top: 60px;
    position: relative;
}

.form-search-label{
    flex-grow: 1;
}

.search,  .email{
    display: block;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    padding: 17px;
    width: 100%;
}

.button{
    background-color: #b59f5b;
    height: 50px;
}

.btn-search{
    display: block;
    border: none;
    background-repeat: no-repeat;
    width: 50px;
    background-size: 20px;
    background-position: center center;
    cursor: pointer;
    background-image: url("../svg/search.svg");
}

.btn-search:hover{
    filter: brightness(85%);
    transition: all .7s ease
}

@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

.btn-email{
    display: block;
    border: none;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    transition: all .7s ease
}

.btn-email:hover{
    animation: bounce 1s;
    border: 1px solid #000;
}

.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

/*-----------*/

/*tags styles*/

.tags-list{
    display: flex;
    flex-wrap: wrap;
}

.tags-list-item{
    margin: 4px 4px 4px 0;
}

.tags-link{
    color: #000;
    font-weight: bold;
    border: 3px solid #eee;
    padding: 6px 12px;
    display: block;
    text-transform: uppercase;
    font-size: 12px;
}

.tags-link:hover{
    border-color: #b59f5b;
    transition: all .7s ease;
}

/*themes styles*/

.themes-item{
    padding: 17px 0;
    border-bottom: 1px solid #eee
}

.themes-link{
    font-size: 14px;
    color: #000;
    font-weight: bold;
}

.themes-count{
    color: #b59f5b;
    font-weight: bold;
    font-size: 12px;
    vertical-align: 3px;
}

/*---our items styles----*/

.our-items{
    padding: 0 35px;
}

.our-item{
    width: 27.272727%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.our-item-wrap{
    margin-bottom: -17px;
}

.sale{
    display: flex;
    justify-content: space-between;
}

.our-item-content{
    outline: #b59f5b solid 3px;
    outline-offset: 20px;
    flex-grow: 1;
    padding-bottom: 10px;
}

.our-item-content__header{
    margin-top: 35px;
    text-transform: uppercase;
}

.our-item-description__link{
    color: #b59f5b;
}

.sale-old-price{
    font-size: 14px;
    font-weight: 800;
    text-decoration: line-through;
    margin: 0;
    font-family: sans-serif;
}

.sale-current-price{
    font-size: 20px;
    font-weight: 800;
    margin: 0;
    font-family: sans-serif;
}

.sale-link{
    color: #fff;
    background-color: #b59f5b;
    text-transform: uppercase;
    padding: 18px 30px;
    font-size: 14px;
    font-weight: 800;
    border: 1px solid transparent;
}

.sale-link:hover{
    animation: bounce 1s;
    border-color: #000;
}

/*footer styles*/

.footer{
    padding-bottom: 40px;
}

.socials{
    display: flex;
    justify-content: center;
    background-color: #f4f7f6;
    padding: 30px 0;
}

.socials-item{
    margin-right: 30px;
}

.socials-item:last-child{
    margin-right: 0;
}

.social-icon{
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-size: 20px;
    background-repeat: no-repeat;
}

.social-icon__twitter{
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/004-twitter.svg);
    position: relative;
}

.social-icon__pinterest{
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/001-pinterest.svg);
}

.social-icon__facebook{
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/002-facebook-logo.svg);
}

.social-icon__instagram{
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/005-instagram.svg);
}

.social-icon__tumblr{
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg);
}

.copyright{
    font-weight: bold;
    font-size: 12px;
    color: #999;
    display: block;
    margin: 75px 0 0;
    text-align: center;
    cursor: pointer;
}

/*---- popup styles ----*/

.popup-wrap{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 4;
    align-items: center;
    justify-content: center;
    display: flex;
}

.popup-wrap:before{
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    opacity: .5;
}

.popup{
    position: relative;
    z-index: 5;
    max-width: 390px;
    background-color: #fff;
    padding: 30px 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.form-paragraph{
    font-size: 13px;
}

#select{
    background-color: #f4f7f6;
    border: 1px solid transparent;
    padding: 17px;
    width: 100%;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#select:focus{
    border: 1px solid #b59f5b;
}

#textarea{
    width: 100%;
    background-color: #f4f7f6;
    border: 1px solid transparent;
    resize: none;
}

#textarea:focus{
    border: 1px solid #b59f5b;
}

#textarea:focus-visible, #select:focus-visible{
    border: 1px solid #b59f5b;
    outline: none;
}

.option{
    color: #a9a9a9;
}

.circle:before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: center;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 2px;
}

.radio:checked ~ .circle:before{
    background-image: url("../svg/form-circle.svg");
}

.radio{
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.label-radio{
    margin-right: 60px;
}

.label-radio:last-of-type{
    margin-right: 0;
}

.for-cross{
    position: relative;
}

.cross{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -21px;
    top: -60px;
    background-color: transparent;
    border: none;
    background-image: url("../svg/form-x.svg");
}

.show{
    max-height: 300px;
}


